
footer{
	background-color: #f2f3f5;
	a{
		color: #6d6d6d;
		font-size: 1.3rem;
		font-weight: 300;
		line-height: 2.708rem;
	}
	p{
		@include respond-to(small){
			text-align: center;
		}
	}
}
.footerInfo{
	color: #6d6d6d;
	font-size: 1.3rem;
	font-weight: 300;
	line-height: 2.708rem;
	padding-bottom: 12px;
}
.footerFlex{
	display: flex;
	border-bottom: 2px solid #cecece;
	@include respond-to(small){
		display: block;
	}
}

.footer{
	width: calc(100% / 3);
	margin-top: 52px;
	@include respond-to(small){
		width: 90%;
		margin: 0 auto;
		padding-top: 50px;
	}
}

.footerAboutCompany div{
	width: 80%;
	@include respond-to(small){
		width: 100%;
	}
}

.footerTitle{
	color: #4f4f4f;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 2.2rem;
	text-transform: uppercase;
	padding-bottom: 35px;
	@include respond-to(small){
		text-align: center;
		font-size: 2.5rem;
	}

}



.footerGetInTouch{
	@include respond-to(small){
		padding-bottom: 50px;
	}
	p:nth-child(2){
		color: #6d6d6d;
		font-size: 1.2rem;
		font-weight: 300;
		line-height: 2.708rem;
		width: 70%;
		@include respond-to(small){
			width: 100%;
		}
		&::before{
			font-family: $fontawesome;
			content: "\f041";
			color: #6d6d6d;
			@include respond-to(small){
				padding-right: 10px;
			}
		}
	}
	p:nth-child(3){
		color: #6d6d6d;
		font-size: 1.2rem;
		font-weight: 300;
		line-height: 2.2rem;
		&::before{
			font-family: $fontawesome;
			content:"\f095";
			color: #6d6d6d;
			@include respond-to(small){
				padding-right: 10px;
			}
		}
	}
	p:nth-child(4){
		font-family: 'Ubuntu', sans-serif;
		color: #6d6d6d;
		font-size: 1.2rem;
		font-weight: 300;
		line-height: 2.2rem;
		&::before{
			font-family: $fontawesome;
			content:"\f0e0";
			@include respond-to(small){
				padding-right: 10px;
			}
		}
	}
}

.footerSocialLinks{
	padding-bottom: 50px;
	@include respond-to(small){
		text-align: center;
		padding-bottom: 20px;
		border-bottom: 1px dotted lightblue;
	}
	img{
		padding-right: 10px;
		@include respond-to(small){
			padding-right: 40px;
			padding-top: 20px;
		}
	}
}

.copyright{
	@include respond-to(small){
		background: $companyBlue;
	}
	p{
		padding: 20px 0;
		font-family: 'Ubuntu', sans-serif;
		color: #afafaf;
		font-size: 1.2rem;
		font-weight: 300;
		line-height: 2.2rem;
		text-align: center;
		@include respond-to(small){
			color: #fff;
		}
	}
}

.footerCompanyNav{
	ul{
		@include respond-to(small){
			display: flex;
			justify-content: space-around;
			border-bottom: 1px dotted lightblue;
			padding-bottom: 20px;
		}
		li{
			transition: all 0.5s ease-in-out;
			&:hover{
				transform: scale(1.1);
			}
		}
		a{
			&:hover{
				text-decoration: underline;
				color: red;
			}
			@include respond-to(small){
				color: $companyBlue;
			}
		}
	}
}