$wrapper: 940px;
$UbuntuFont: 'Ubuntu', sans-serif;
$OpenSansFont: 'Open Sans', sans-serif;
$PlayfairFont: 'Playfair Display', serif;
$fontawesome: 'FontAwesome';
$mainSectionColor: #f8f8f8;
$h1color: #fff;
$h2color: #fff;
$h3color: #23b7ef;
$h4color: #fff;
$h5color: #4f4f4f;
$h6color: #4f4f4f;
$pcolor: #6d6d6d;
$buttoncolor: #d8d7d7;
$companyBlue: #14abf4;